.header .header-inner .logo {
    margin: 0;
    padding: 0;
}

.header .header-inner .logo h1 {
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Roboto', san-serif;
    font-size: 28px;
}

.header .header-inner .logo a {
    color: #3e3e3e;
}

.fixed .header-inner .logo {
    margin-top: 12px !important;
}